<h1>Listing pitches</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pitch #</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pitches.each do |pitch| %>
      <tr>
        <td><%= pitch.number %></td>
        <td><%= pitch.rating %></td>
        <td><%= link_to 'Show', pitch %></td>
        <td><%= link_to 'Edit', edit_pitch_path(pitch) %></td>
        <td><%= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
